name: build-push
on:
  push:
  workflow_dispatch:

jobs:
  base:
    strategy:
      fail-fast: false
      matrix:
        dir:
          - base
    uses: libops/.github/.github/workflows/build-push-ghcr.yaml@main
    with:
      image: ${{ matrix.dir }}
      context: ${{ matrix.dir }}
    permissions:
      contents: read
      packages: write
    secrets: inherit
